<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Admin Order Handler</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-white fs-4">
    <div class="container mt-4 border-bottom border-secondary">

        <a class="navbar-brand" th:href="@{/products}">FAKE STORE</a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/products}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/products}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"  sec:authorize="isAuthenticated()">Your account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/orders}" sec:authorize="hasAuthority('ADMIN')">Orders</a>
                </li>
            </ul>
            <span class="navbar-text">
                <form method="POST" th:action="@{/logout}">
                    <button type="submit" class="btn btn-dark text-white px-5" sec:authorize="isAuthenticated()">Logout</button>
                </form>
                <a class="btn btn-dark text-white px-5" sec:authorize="!isAuthenticated()" th:href="@{/loginView}">Login</a>
            </span>
        </div>
    </div>
</nav>



<div class="container mt-4">
    <h1>Order Management - Admin Panel</h1>

    <table>
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.customerName}"></td>
            <td>
                <form th:action="@{'/admin/orders/' + ${order.id} + '/status'}" method="post">
                </form>
            </td>
            <td th:text="${order.total}"></td>
            <td>
                <form th:action="@{'/admin/orders/' + ${order.id} + '/delete'}" method="post"
                      onsubmit="return confirm('Are you sure you want to delete this order?');">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>