<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Show All Products</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <style>
        table {
            border-collapse: collapse;
            width: auto;
        }

        th, td {
            text-align: left;
            padding: 5px;
            width: 100px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-white fs-4">
    <div class="container mt-4 border-bottom border-secondary">

        <a class="navbar-brand" th:href="@{/products}">FAKE STORE</a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/products}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/products}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/register}">Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/orders}" sec:authorize="hasAuthority('ADMIN')">Orders</a>
                </li>
            </ul>
            <span class="navbar-text">
                <form method="POST" th:action="@{/logout}">
                    <button type="submit" class="btn btn-dark text-white px-5" sec:authorize="isAuthenticated()">Logout</button>
                </form>
                <a class="btn btn-dark text-white px-5" sec:authorize="!isAuthenticated()" th:href="@{/loginView}">Login</a>
            </span>
        </div>
    </div>
</nav>

<div class="container mt-4">

    <h2>ALL PRODUCTS</h2>

    <table>
        <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Category</th>
            <th>Price</th>
            <th>Show</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td>
                <img th:src="${product.image}"
                     alt="Product image"
                     class="img-fluid"
                     style="width: 80px; height: 80px; object-fit: cover;">
            </td>
            <td th:text="${product.title}"></td>
            <td th:text="${product.category}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <a th:href="@{/products/{id}(id=${product.id})}"
                   class="btn btn-primary btn-sm">
                    Show product
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>


</body>
</html>
