<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LoginView</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container d-flex justify-content-center" style="margin-top: 8%;">
    <div class="card p-5 shadow rounded border border-light" style="width: 100%; max-width: 600px;">
        <h2 class="pb-3 text-dark">Login</h2>
        <p th:if="${error}" class="text-danger text-center" th:text="${error}"></p>
        <form th:action="@{/login}" method="post" th:object="${user}">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="examplePassword">Password:</label>
                <input type="password" class="form-control" id="examplePassword" placeholder="Password">
            </div>
            <div class="d-flex flex-column align-items-center pt-3">
                <button type="submit" class="btn btn-dark w-100">Login</button>
            </div>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>